html, body { margin: 0; padding: 0 }

body {
    font-family: 'Crimson Text', Garamond, "Times New Roman", Times, serif;
	max-width: 582px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
}

div#header { text-align: center }

abbr {
	font-variant: small-caps;
	text-transform: lowercase;
}

hr { display: none }

p,li {
	line-height: 1.6;
    font-size: 18px;
}

ul { padding-left: 40px; margin-left: 0 }
li { margin-bottom: 1em;}
