<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    {% if include.type == "text" %}
                    <h1>{{ include.text }}</h1>
                    {% if include.subtext %}
                    <hr class="small"/>
                    <span class="subheading">{{ include.subtext }}</span>
                    {% endif %}
                    {% else if include.type == "image" %}
                    <img src="{{ include.url }}" style="width: 100%;"/>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
