        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="We're a club of tech nerds on campus that meet Wednesdays in Glennan 421 at 7:30pm for weekly tech talks (and occasionally free swag and food).">
        <meta name="author" content="Hacker Society">

        <!-- Open Graph data -->
        <html itemscope itemtype="http://schema.org/Article">
        <meta property="og:title" content="Hacker Society" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ page.url }}" />
        <meta property="og:image" content="http://hacsoc.org/logo.png" />
        <meta property="og:description" content="We're a club of tech nerds on campus that meet Wednesdays in Glennan 421 at 7:30pm for weekly tech talks (and occasionally free swag and food)." />
        <meta property="og:site_name" content="Hacsoc" />

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@cwruacm">
        <meta name="twitter:title" content="Hacker Society">
        <meta name="twitter:description" content="We're a club of tech nerds on campus that meet Wednesdays in Glennan 421 at 7:30pm for weekly tech talks (and occasionally free swag and food).">
        <meta name="twitter:image" content="http://hacsoc.org/img/logo.png">
