---
layout: base
---
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <img src="img/hacker-society.png" style="width: 100%;"/>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container text-center">
    {{ content }}
</div>
